.pass-protected-form{
   
    input[type=password], input[type=active]{
        display: block;
        font-family: $font-paragraphs;
        font-size:14px;
        background: $color-lightgrey;
        border:0;
        color: #2b2c27;
        max-width:350px;
        width: 100%;
        padding: 15px 20px;
        line-height: 24px;
        transition: background $transition-duration;
        text-decoration: none;
        position: relative;
        border-radius: 0;
        appearance: none;
        margin-bottom: 5px;
    }

    input[type=password]{
        max-height:70px;
    }

    input[type=password]:focus{
        //border:2px solid rgba(0,0,0,0.1);
        border:none;
        background-color: $color-grey;
        outline: 0;
    }

    input[type=submit]{
        background: $color-white;
        color: $color-main;
        border:3px solid $color-main;
        mix-blend-mode: normal;
        padding: 20px 40px;
        min-width: 200px;
        width:auto;
        font-size: $font-size-large;
        text-align: center;
        border-radius: 0;
        margin-top: 1rem;
        display: inline-block;
        position: relative;
        cursor: pointer;
        /*transition: 150ms linear background;*/
    }
    input[type=submit]:focus{
        border:0;
        outline: 0;
    }
    input[type=submit]:hover{
        border:3px solid $color-main;
        color:$color-white;
        //font-weight: $font-weight-headings;
        background-color: $color-main;
        transition-duration: $transition-duration;
    }

}